{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% load get_item from supplier_extras %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Add New Items</h4>
</div>
<ul class="list-group list-group-flush">
<form  id="new-quotation-supplier-form" action="" method="post">
  <li class="list-group-item">
    <div class="table-title">
        <div class="row">
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info add-new-item"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered" id="new-quotation-supplier-table">
        <thead>
            <tr>
                <th width="70px">S No.</th>
                <th width="200px">Item Name</th>
                <th>Description</th>
                <th>Category</th>
                <th width="90px">Quantity</th>
                <th width="80px">Unit</th>
                <th width="130px">Cost Price</th>
                <th width="150px">Selling Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <td></td>
        </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </li>
    </form>
</ul>
</div>


{% endblock body %}
