body {
    color: #404E67;
    background: #F5F7FA;
font-family: 'Open Sans', sans-serif;
}
.table-wrapperss {
width: 700px;
margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new-rfq {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-rfq i {
margin-right: 4px;
}

.table-title .add-new-rfq-edit {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-rfq-edit i {
margin-right: 4px;
}


.table-title .edit-rfq-supplier {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-rfq-supplier i {
margin-right: 4px;
}

.table-title .add-new-rfq-edit {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-rfq-edit i {
margin-right: 4px;
}


.table-title .add-new-row {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-row i {
margin-right: 4px;
}


.table-title .add-new-quotation-customer {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-quotation-customer i {
margin-right: 4px;
}

.table-title .add-new-po-customer {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-po-customer i {
margin-right: 4px;
}


.table-title .add-new-quotation-supplier{
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-quotation-supplier i {
margin-right: 4px;
}

.table-title .add-new-po-supplier{
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-po-supplier i {
margin-right: 4px;
}

.table-title .add-new-dc-supplier{
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-dc-supplier i {
margin-right: 4px;
}


.table-title .add-new-dc-customer{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-new-dc-customer i {
margin-right: 4px;
}

.table-title .add-item-purchase{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-purchase i {
margin-right: 4px;
}

.table-title .add-item-sale{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-sale i {
margin-right: 4px;
}

/*
table.table {
    /*table-layout: fixed*/;
} */
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 130px;
}
table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
table.table td a.add-rfq {
    color: #27C46B;
}
#edit-rfq-supplier-table td a.add-rfq-edit {
    color: #27C46B;
}
table.table td a.edit-rfq {
    color: #FFC107;
}
#edit-rfq-supplier-table td a.edit-rfq-edit {
    color: #FFC107;
}
table.table td a.edit_list {
    color: #FFC107;
}
table.table td a.delete-all {
    color: #E34724;
}
pre {font-family: "Avenir", Verdana, sans-serif
    }
#dataTable.table td a.delete_item_row {
    color: #E34724;
}
#dataTable.table td a.return {
    color: gray;
}
#dataTable.table td a.delete {
    color: #E34724;
}


#dataTable.table td a.cart {
    color: #27C46B;
}


#edit-rfq-supplier-table td a.delete-rfq-edit {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}
table.table td a.add-rfq i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
border-color: #f50000;
}
table.table td .add-rfq {
display: none;
}

table.table thead tr th {
  white-space: nowrap; overflow: hidden;
  font-size: 14px;
}

table.table tbody tr td {
  white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
  font-size: 12px;
}

table.table thead tr th{
  font-size:12px;
}

#footer_desc {
  width: 300px;
  height: 30px;
}

/* #tax_table{
  margin-left: 60%;
}

#t_table tr th {
  font-size:12px;
}

#t_table, th, td{
  border: 1px solid;
}


#t_table tr td textarea{
  width: 400px;
  height: 50px;
}

/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new i {
  margin-right: 4px;
}

table.table td a.delete-rfq-supplier{
  color:#E34724;
}

#edit-rfq-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #edit-rfq-supplier-table.table tr th, #edit-rfq-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #edit-rfq-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #edit-rfq-supplier-table.table th:last-child {
      width: 100px;
  }
  #edit-rfq-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#edit-rfq-supplier-table.table td a.add-rfq-edit {
      color: #27C46B;
  }
  #edit-rfq-supplier-table.table td a.edit-rfq-edit {
      color: #FFC107;
  }
  #edit-rfq-supplier-table.table td a.delete-rfq-edit{
      color: #E34724;
  }

  #edit-rfq-supplier-table.table td i {
      font-size: 19px;
  }
#edit-rfq-supplier-table.table td a.add-rfq-edit i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #edit-rfq-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#edit-rfq-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#edit-rfq-supplier-table.table td .add-rfq-edit {
  display: none;
}

/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new i {
  margin-right: 4px;
}

table.table td a.delete-rfq-supplier{
  color:#E34724;
}

#new-quotation-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #new-quotation-supplier-table.table tr th, #new-quotation-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #new-quotation-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #new-quotation-supplier-table.table th:last-child {
      width: 100px;
  }
  #new-quotation-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#new-quotation-supplier-table.table td a.add-quotation {
      color: #27C46B;
  }
  #new-quotation-supplier-table.table td a.edit-quotation {
      color: #FFC107;
  }
  #new-quotation-supplier-table.table td a.delete-quotation{
      color: #E34724;
  }

  #new-quotation-supplier-table.table td i {
      font-size: 19px;
  }
#new-quotation-supplier-table.table td a.add-quotation i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #new-quotation-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#new-quotation-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#new-quotation-supplier-table.table td .add-quotation {
  display: none;
}

/* ==================================================================================================== */ */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .edit-quotation-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .edit-quotation-supplier i {
  margin-right: 4px;
}

table.table td a.delete-quotation-supplier{
  color:#E34724;
}

#edit-quotation-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #new-quotation-supplier-table.table tr th, #edit-quotation-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #edit-quotation-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #edit-quotation-supplier-table.table th:last-child {
      width: 100px;
  }
  #edit-quotation-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#edit-quotation-supplier-table.table td a.add-quotation-edit {
      color: #27C46B;
  }
  #edit-quotation-supplier-table.table td a.edit-quotation-edit {
      color: #FFC107;
  }
  #edit-quotation-supplier-table.table td a.delete-quotation-edit{
      color: #E34724;
  }

  #edit-quotation-supplier-table.table td i {
      font-size: 19px;
  }
#edit-quotation-supplier-table.table td a.add-quotation-edit i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #edit-quotation-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#edit-quotation-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#edit-quotation-supplier-table.table td .add-quotation-edit {
  display: none;
}

/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new-po-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new-po-supplier i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}

#new-po-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #new-po-supplier-table.table tr th, #new-po-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #new-po-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #new-po-supplier-table.table th:last-child {
      width: 100px;
  }
  #new-po-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#new-po-supplier-table.table td a.add-po {
      color: #27C46B;
  }
  #new-po-supplier-table.table td a.edit-po {
      color: #FFC107;
  }
  #new-po-supplier-table.table td a.delete-po{
      color: #E34724;
  }

  #new-po-supplier-table.table td i {
      font-size: 19px;
  }
#new-po-supplier-table.table td a.add-po i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #new-po-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#new-po-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#new-po-supplier-table.table td .add-po {
  display: none;
}

/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .edit-po-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .edit-po-supplier i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}

#edit-po-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #edit-po-supplier-table.table tr th, #edit-po-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #edit-po-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #edit-po-supplier-table.table th:last-child {
      width: 100px;
  }
  #edit-po-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#edit-po-supplier-table.table td a.add-po-edit {
      color: #27C46B;
  }
  #edit-po-supplier-table.table td a.edit-po-edit {
      color: #FFC107;
  }
  #edit-po-supplier-table.table td a.delete-po-edit{
      color: #E34724;
  }

  #edit-po-supplier-table.table td i {
      font-size: 19px;
  }
#edit-po-supplier-table.table td a.add-po-edit i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #edit-po-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#edit-po-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#edit-po-supplier-table.table td .add-po-edit {
  display: none;
}


/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new-dc-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new-dc-supplier i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}

#new-dc-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #new-dc-supplier-table.table tr th, #new-dc-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #new-dc-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #new-dc-supplier-table.table th:last-child {
      width: 100px;
  }
  #new-dc-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#new-dc-supplier-table.table td a.add-dc {
      color: #27C46B;
  }
  #new-dc-supplier-table.table td a.edit-dc {
      color: #FFC107;
  }
  #new-dc-supplier-table.table td a.delete-dc{
      color: #E34724;
  }

  #new-dc-supplier-table.table td i {
      font-size: 19px;
  }
#new-dc-supplier-table.table td a.add-dc i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
#new-dc-supplier-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-dc-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#new-dc-supplier-table.table td .add-dc {
  display: none;
}


/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .edit-dc-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .edit-dc-supplier i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}

#edit-dc-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #edit-dc-supplier-table.table tr th, #edit-dc-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #edit-dc-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #edit-dc-supplier-table.table th:last-child {
      width: 100px;
  }
  #edit-dc-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#edit-dc-supplier-table.table td a.add-dc-edit {
      color: #27C46B;
  }
  #edit-dc-supplier-table.table td a.edit-dc-edit {
      color: #FFC107;
  }
  #edit-dc-supplier-table.table td a.delete-dc-edit{
      color: #E34724;
  }

  #edit-dc-supplier-table.table td i {
      font-size: 19px;
  }
#edit-dc-supplier-table.table td a.add-dc-edit i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #edit-dc-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#edit-dc-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#edit-dc-supplier-table.table td .add-dc-edit {
  display: none;
}

/* ==================================================================================================== */


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .edit-dc-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .edit-dc-supplier i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}

#edit-mrn-supplier-table.table {
      /*table-layout: fixed*/;
  }
  #edit-mrn-supplier-table.table tr th, #edit-mrn-supplier-table.table tr td {
      border-color: #e9e9e9;
  }
  #edit-mrn-supplier-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  #edit-mrn-supplier-table.table th:last-child {
      width: 100px;
  }
  #edit-mrn-supplier-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#edit-mrn-supplier-table.table td a.add-mrn {
      color: #27C46B;
  }
  #edit-mrn-supplier-table.table td a.edit-mrn {
      color: #FFC107;
  }
  #edit-mrn-supplier-table.table td a.delete-mrn{
      color: #E34724;
  }

  #edit-mrn-supplier-table.table td i {
      font-size: 19px;
  }
#edit-mrn-supplier-table.table td a.add-mrn i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }
  #edit-mrn-supplier-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#edit-mrn-supplier-table.table .form-control.error {
  border-color: #f50000;
}
#edit-mrn-supplier-table.table td .add-mrn {
  display: none;
}

/* ================================================================================================= */

  /* CUSTOMER */

  .table-title .add-new-rfq-customer {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new-rfq-customer i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}
#rfq-customer-table.table tr th{
    font-size: 14px;
}

#rfq-customer-table.table tr td{
    font-size: 14px;
}

#rfq-customer-table.table {
      /*table-layout: fixed*/;
  }
#rfq-customer-table.table tr th, #rfq-customer-table.table tr td {
    border-color: #e9e9e9;
}
#rfq-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#rfq-customer-table.table th:last-child {
    width: 100px;
}
#rfq-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#rfq-customer-table.table td a.add-rfq-customer {
      color: #27C46B;
}
#rfq-customer-table.table td a.edit-rfq-customer {
    color: #FFC107;
}
#rfq-customer-table.table td a.delete-rfq-customer{
    color: #E34724;
}

#rfq-customer-table.table td i {
    font-size: 19px;
}
#rfq-customer-table.table td a.add-rfq-customer i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
}
#rfq-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#rfq-customer-table.table .form-control.error {
  border-color: #f50000;
}
#rfq-customer-table.table td .add-rfq-customer {
  display: none;
}

/* ============================================================================================================ */


.table-title .edit-rfq-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-rfq-customer i {
margin-right: 4px;
}

table.table td a.delete-po-supplier{
color:#E34724;
}

#edit-rfq-customer-table.table {
    /*table-layout: fixed*/;
}
#edit-rfq-customer-table.table tr th, #edit-rfq-customer-table.table tr td {
    border-color: #e9e9e9;
}
#edit-rfq-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-rfq-customer-table.table th:last-child {
    width: 100px;
}
#edit-rfq-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-rfq-customer-table.table td a.add-rfq-edit-customer {
    color: #27C46B;
}
#edit-rfq-customer-table.table td a.edit-rfq-edit-customer {
    color: #FFC107;
}
#edit-rfq-customer-table.table td a.delete-rfq-edit-customer{
    color: #E34724;
}

#edit-rfq-customer-table.table td i {
    font-size: 19px;
}
#edit-rfq-customer-table.table td a.add-rfq-edit-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-rfq-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-rfq-customer-table.table .form-control.error {
border-color: #f50000;
}
#edit-rfq-customer-table.table td .add-rfq-edit-customer {
display: none;
}

/* ================================================================================================= */


.table-title .add-new-quotation-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-quotation-customer i {
margin-right: 4px;
}

table.table td a.delete-po-supplier{
color:#E34724;
}

#new-quotation-customer-table.table {
    /*table-layout: fixed*/;
}
#new-quotation-customer-table.table tr th, #new-quotation-customer-table.table tr td {
  border-color: #e9e9e9;
}
#new-quotation-customer-table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
#new-quotation-customer-table.table th:last-child {
  width: 100px;
}
#new-quotation-customer-table.table td a {
cursor: pointer;
  display: inline-block;
  margin: 0 5px;
min-width: 24px;
}
#new-quotation-customer-table.table td a.add-quotation-customer {
    color: #27C46B;
}
#new-quotation-customer-table.table td a.edit-quotation-customer {
  color: #FFC107;
}
#new-quotation-customer-table.table td a.delete-quotation-customer{
  color: #E34724;
}

#new-quotation-customer-table.table td i {
  font-size: 19px;
}
#new-quotation-customer-table.table td a.add-quotation-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-quotation-customer-table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
#new-quotation-customer-table.table .form-control.error {
border-color: #f50000;
}
#new-quotation-customer-table.table td .add-quotation-customer {
display: none;
}

/* ============================================================================================================ */


.table-title .edit-quotation-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-quotation-customer i {
margin-right: 4px;
}

table.table td a.delete-po-supplier{
color:#E34724;
}

#edit-quotation-customer-table.table {
    /*table-layout: fixed*/;
}
#edit-quotation-customer-table.table tr th, #edit-quotation-customer-table.table tr td {
    border-color: #e9e9e9;
}
#edit-quotation-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-quotation-customer-table.table th:last-child {
    width: 100px;
}
#edit-quotation-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-quotation-customer-table.table td a.add-quotation-edit-customer {
    color: #27C46B;
}
#edit-quotation-customer-table.table td a.edit-quotation-edit-customer {
    color: #FFC107;
}
#edit-quotation-customer-table.table td a.delete-quotation-edit-customer{
    color: #E34724;
}

#edit-quotation-customer-table.table td i {
    font-size: 19px;
}
#edit-quotation-customer-table.table td a.add-quotation-edit-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-quotation-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-quotation-customer-table.table .form-control.error {
border-color: #f50000;
}
#edit-quotation-customer-table.table td .add-quotation-edit-customer {
display: none;
}

/* ================================================================================================= */

.table-title .add-new-po-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-po-customer i {
margin-right: 4px;
}

table.table td a.delete-po-customer{
color:#E34724;
}

#new-po-customer-table.table {
    /*table-layout: fixed*/;
}
#new-po-customer-table.table tr th, #new-po-customer-table.table tr td {
  border-color: #e9e9e9;
}
#new-po-customer-table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
#new-po-customer-table.table th:last-child {
  width: 100px;
}
#new-po-customer-table.table td a {
cursor: pointer;
  display: inline-block;
  margin: 0 5px;
min-width: 24px;
}
#new-po-customer-table.table td a.add-po-customer {
    color: #27C46B;
}
#new-po-customer-table.table td a.edit-po-customer {
  color: #FFC107;
}
#new-po-customer-table.table td a.delete-po-customer{
  color: #E34724;
}

#new-po-customer-table.table td i {
  font-size: 19px;
}
#new-po-customer-table.table td a.add-po-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-po-customer-table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
#new-po-customer-table.table .form-control.error {
border-color: #f50000;
}
#new-po-customer-table.table td .add-po-customer {
display: none;
}

/* ============================================================================================================ */


.table-title .edit-po-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-po-customer i {
margin-right: 4px;
}

table.table td a.delete-po-customer{
color:#E34724;
}

#edit-po-customer-table.table {
    /*table-layout: fixed*/;
}
#edit-po-customer-table.table tr th, #edit-po-customer-table.table tr td {
    border-color: #e9e9e9;
}
#edit-po-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-po-customer-table.table th:last-child {
    width: 100px;
}
#edit-po-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-po-customer-table.table td a.add-po-edit-customer {
    color: #27C46B;
}
#edit-po-customer-table.table td a.edit-po-edit-customer {
    color: #FFC107;
}
#edit-po-customer-table.table td a.delete-po-edit-customer{
    color: #E34724;
}

#edit-po-customer-table.table td i {
    font-size: 19px;
}
#edit-po-customer-table.table td a.add-po-edit-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-po-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-po-customer-table.table .form-control.error {
border-color: #f50000;
}
#edit-po-customer-table.table td .add-po-edit-customer {
display: none;
}

/* ================================================================================================= */

.table-title .add-new-dc-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-dc-customer i {
margin-right: 4px;
}

table.table td a.delete-po-customer{
color:#E34724;
}

#new-dc-customer-table.table {
    /*table-layout: fixed*/;
}
#new-dc-customer-table.table tr th, #new-dc-customer-table.table tr td {
  border-color: #e9e9e9;
}
#new-dc-customer-table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
#new-dc-customer-table.table th:last-child {
  width: 100px;
}
#new-dc-customer-table.table td a {
cursor: pointer;
  display: inline-block;
  margin: 0 5px;
min-width: 24px;
}
#new-dc-customer-table.table td a.add-dc-customer {
    color: #27C46B;
}
#new-dc-customer-table.table td a.edit-dc-customer {
  color: #FFC107;
}
#new-dc-customer-table.table td a.delete-dc-customer{
  color: #E34724;
}

#new-dc-customer-table.table td i {
  font-size: 19px;
}
#new-dc-customer-table.table td a.add-dc-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-dc-customer-table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
#new-dc-customer-table.table .form-control.error {
border-color: #f50000;
}
#new-dc-customer-table.table td .add-dc-customer {
display: none;
}

.table-title .add-new-po-customer-dc {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-po-customer-dc i {
margin-right: 4px;
}

table.table td a.delete-po-customer{
color:#E34724;
}
#new-dc-customer-table.table {
    /*table-layout: fixed*/;
}
#new-dc-customer-table.table tr th, #new-dc-customer-table.table tr td {
  border-color: #e9e9e9;
}
#new-dc-customer-table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
#new-dc-customer-table.table th:last-child {
  width: 100px;
}
#new-dc-customer-table.table td a {
cursor: pointer;
  display: inline-block;
  margin: 0 5px;
min-width: 24px;
}
#new-dc-customer-table.table td a.add-dc-customer-po {
    color: #27C46B;
}
#new-dc-customer-table.table td a.edit-dc-customer-po {
  color: #FFC107;
}
#new-dc-customer-table.table td a.delete-dc-customer-po{
  color: #E34724;
}

#new-dc-customer-table.table td i {
  font-size: 19px;
}
#new-dc-customer-table.table td a.add-dc-customer-po i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-dc-customer-table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
#new-dc-customer-table.table .form-control.error {
border-color: #f50000;
}
#new-dc-customer-table.table td .edit-dc-customer-po {
display: none;
}

/* ============================================================================================================ */


.table-title .edit-dc-customer {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-dc-customer i {
margin-right: 4px;
}

table.table td a.delete-dc-customer{
color:#E34724;
}

#edit-dc-customer-table.table {
    /*table-layout: fixed*/;
}
#edit-dc-customer-table.table tr th, #edit-dc-customer-table.table tr td {
    border-color: #e9e9e9;
}
#edit-dc-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-dc-customer-table.table th:last-child {
    width: 100px;
}
#edit-dc-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-dc-customer-table.table td a.add-dc-edit-customer {
    color: #27C46B;
}
#edit-dc-customer-table.table td a.edit-dc-edit-customer {
    color: #FFC107;
}
#edit-dc-customer-table.table td a.delete-dc-edit-customer{
    color: #E34724;
}

#edit-dc-customer-table.table td i {
    font-size: 19px;
}
#edit-dc-customer-table.table td a.add-dc-edit-customer i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-dc-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-dc-customer-table.table .form-control.error {
border-color: #f50000;
}
#edit-dc-customer-table.table td .add-dc-edit-customer {
display: none;
}



.table-title .edit-po-customer-dc {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-po-customer-dc i {
margin-right: 4px;
}

table.table td a.edit-delete-dc-customer-po{
color:#E34724;
}

#edit-dc-customer-table.table {
    /*table-layout: fixed*/;
}
#edit-dc-customer-table.table tr th, #edit-dc-customer-table.table tr td {
    border-color: #e9e9e9;
}
#edit-dc-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-dc-customer-table.table th:last-child {
    width: 100px;
}
#edit-dc-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-dc-customer-table.table td a.add-edit-dc-customer-po {
    color: #27C46B;
}
#edit-dc-customer-table.table td a.edit-edit-dc-customer-po {
    color: #FFC107;
}
#edit-dc-customer-table.table td a.edit-delete-dc-customer-po{
    color: #E34724;
}

#edit-dc-customer-table.table td i {
    font-size: 19px;
}
#edit-dc-customer-table.table td a.add-edit-dc-customer-po i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-dc-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-dc-customer-table.table .form-control.error {
border-color: #f50000;
}
#edit-dc-customer-table.table td .edit-edit-dc-customer-po {
display: none;
}

/* ========================================================================================================================= */

.table-title .edit-dc-supplier {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-dc-supplier i {
margin-right: 4px;
}

table.table td a.delete-po-supplier{
color:#E34724;
}

#edit-mrn-customer-table.table {
    /*table-layout: fixed*/;
}
#edit-mrn-customer-table.table tr th, #edit-mrn-customer-table.table tr td {
    border-color: #e9e9e9;
}
#edit-mrn-customer-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-mrn-customer-table.table th:last-child {
    width: 100px;
}
#edit-mrn-customer-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-mrn-customer-table.table td a.add-mrn {
    color: #27C46B;
}
#edit-mrn-customer-table.table td a.edit-mrn {
    color: #FFC107;
}
#edit-mrn-customer-table.table td a.delete-mrn{
    color: #E34724;
}

#edit-mrn-customer-table.table td i {
    font-size: 19px;
}
#edit-mrn-customer-table.table td a.add-mrn i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-mrn-customer-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-mrn-customer-table.table .form-control.error {
border-color: #f50000;
}
#edit-mrn-customer-table.table td .add-mrn {
display: none;
}

/* ================================================================================================= */

#new-purchase-table.table {
    /*table-layout: fixed*/;
}
#new-purchase-table.table tr th{
    font-size: 14px;
}
#new-purchase-table.table tr td{
    font-size: 14px;
}
#new-purchase-table.table tr th, #new-purchase-table.table tr td {
    border-color: #e9e9e9;
}
#new-purchase-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-purchase-table.table th:last-child {
    width: 100px;
}
#new-purchase-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-purchase-table.table td a.add-transaction {
    color: #27C46B;
}
#new-purchase-table.table td a.edit-transaction {
    color: #FFC107;
}
#new-purchase-table.table td a.delete-transaction{
    color: #E34724;
}

#new-purchase-table.table td i {
    font-size: 16px;
}
#new-purchase-table.table td a.add-transaction i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-purchase-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-purchase-table.table .form-control.error {
border-color: #f50000;
}
#new-purchase-table.table td .add-transaction {
display: none;
}

/* ================================================================================================= */

/* ================================================================================================= */

#new-sale-table-direct.table {
    /*table-layout: fixed*/;
}
#new-sale-table-direct.table tr th{
    font-size: 10px;
}
#new-sale-table-direct.table tr td{
    font-size: 10px;
}
#new-sale-table-direct.table tr th, #new-sale-table-direct.table tr td {
    border-color: #e9e9e9;
}
#new-sale-table-direct.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-sale-table-direct.table th:last-child {
    width: 100px;
}
#new-sale-table-direct.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-sale-table-direct.table td a.add-transaction-sale {
    color: #27C46B;
}
#new-sale-table-direct.table td a.edit-transaction-sale {
    color: #FFC107;
}
#new-sale-table-direct.table td a.delete-transaction-sale {
    color: #E34724;
}

#new-sale-table-direct.table td i {
    font-size: 16px;
}
#new-sale-table-direct.table td a.add-transaction-sale i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-sale-table-direct.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-sale-table-direct.table .form-control.error {
border-color: #f50000;
}
#new-sale-table-direct.table td .edit-transaction-sale {
display: none;
}

/* ================================================================================================= */

/* ================================================================================================= */

#new-sale-table.table {
    /*table-layout: fixed*/;
}
#new-sale-table.table tr th{
    font-size: 10px;
}
#new-sale-table.table tr td{
    font-size: 10px;
}
#new-sale-table.table tr th, #new-sale-table.table tr td {
    border-color: #e9e9e9;
}
#new-sale-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-sale-table.table th:last-child {
    width: 100px;
}
#new-sale-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-sale-table.table td a.add-transaction-sale {
    color: #27C46B;
}
#new-sale-table.table td a.edit-transaction-sale {
    color: #FFC107;
}
#new-sale-table.table td a.delete-transaction-sale {
    color: #E34724;
}

#new-sale-table.table td i {
    font-size: 16px;
}
#new-sale-table.table td a.add-transaction-sale i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-sale-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-sale-table.table .form-control.error {
border-color: #f50000;
}
#new-sale-table.table td .add-transaction-sale {
display: none;
}


/* ================================================================================================= */


.table-title .add-item-purchase-edit {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-purchase-edit i {
margin-right: 4px;
}

#edit-purchase-table.table {
    /*table-layout: fixed*/;
}
#edit-purchase-table.table tr th{
    font-size: 10px;
}
#edit-purchase-table.table tr td{
    font-size: 10px;
}
#edit-purchase-table.table tr th, #edit-purchase-table.table tr td {
    border-color: #e9e9e9;
}
#edit-purchase-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-purchase-table.table th:last-child {
    width: 100px;
}
#edit-purchase-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-purchase-table.table td a.add-transaction-edit {
    color: #27C46B;
}
#edit-purchase-table.table td a.edit-transaction-edit {
    color: #FFC107;
}
#edit-purchase-table.table td a.delete-transaction-edit {
    color: #E34724;
}

#edit-purchase-table.table td i {
    font-size: 16px;
}
#edit-purchase-table.table td a.add-transaction-edit i {
    font-size: 19px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-purchase-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-purchase-table.table .form-control.error {
border-color: #f50000;
}
#edit-purchase-table.table td .add-transaction-edit {
display: none;
}

/* ================================================================================================= */


#add-item-table.table {
    /*table-layout: fixed*/;
}
#add-item-table.table tbody tr td {
    font-size: 13px;
}
#add-item-table.table tr th{
    font-size: 14px;
}
/* #add-item-table.table tr td{
    font-size: 10px;
} */
#add-item-table.table tr th, #add-item-table.table tr td {
    border-color: #e9e9e9;
}
#add-item-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#add-item-table.table th:last-child {
    width: 100px;
}
#add-item-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#add-item-table.table td a.add-item {
    color: #27C46B;
}
#add-item-table.table td a.edit-item {
    color: #FFC107;
}
#add-item-table.table td a.delete-item{
    color: #E34724;
}

#add-item-table.table td i {
    font-size: 16px;
}
#add-item-table.table td a.add-item i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#add-item-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#add-item-table.table .form-control.error {
border-color: #f50000;
}
#add-item-table.table td .add-item {
display: none;
}


#dataTable.table td a.delete_purchase{
  color:#E34724;
}

#dataTable.table tbody tr td {
    font-size: 13px;
}
#dataTable.table tr th{
    font-size: 14px;
}
/* ================================================================================================= */

#new-purchase-return-table.table tr th{
    font-size: 14px;
}
#new-purchase-return-table.table tbody tr td{
    font-size: 14px;
}
#new-purchase-return-table.table tr th, #new-purchase-return-table.table tr td {
    border-color: #e9e9e9;
}
#new-purchase-return-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-purchase-return-table.table th:last-child {
    width: 70px;
}
#new-purchase-return-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-purchase-return-table.table td a.add-purchase-return {
    color: #27C46B;
}
#new-purchase-return-table.table td a.edit-purchase-return {
    color: #FFC107;
}
#new-purchase-return-table.table td a.delete-purchase-return{
    color: #E34724;
}

#new-purchase-return-table.table td i {
    font-size: 16px;
}
#new-purchase-return-table.table td a.add-purchase-return i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-purchase-return-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-purchase-return-table.table .form-control.error {
border-color: #f50000;
}
#new-purchase-return-table.table td .add-purchase-return {
display: none;
}


#edit-purchase-return-table.table tr th{
    font-size: 14px;
}
#edit-purchase-return-table.table tbody tr td{
    font-size: 14px;
}
#edit-purchase-return-table.table tr th, #edit-purchase-return-table.table tr td {
    border-color: #e9e9e9;
}
#edit-purchase-return-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-purchase-return-table.table th:last-child {
    width: 70px;
}
#edit-purchase-return-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-purchase-return-table.table td a.add-purchase-return-edit {
    color: #27C46B;
}
#edit-purchase-return-table.table td a.edit-purchase-return-edit {
    color: #FFC107;
}
#edit-purchase-return-table.table td a.delete-purchase-return-edit {
    color: #E34724;
}

#edit-purchase-return-table.table td i {
    font-size: 16px;
}
#edit-purchase-return-table.table td a.add-purchase-return-edit i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-purchase-return-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-purchase-return-table.table .form-control.error {
border-color: #f50000;
}
#edit-purchase-return-table.table td .add-purchase-return-edit {
display: none;
}


#edit-sale-return-table.table tr th{
    font-size: 14px;
}
#edit-sale-return-table.table tbody tr td{
    font-size: 14px;
}
#edit-sale-return-table.table tr th, #edit-sale-return-table.table tr td {
    border-color: #e9e9e9;
}
#edit-sale-return-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-sale-return-table.table th:last-child {
    width: 70px;
}
#edit-sale-return-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-sale-return-table.table td a.add-sale-return-edit {
    color: #27C46B;
}
#edit-sale-return-table.table td a.edit-sale-return-edit {
    color: #FFC107;
}
#edit-sale-return-table.table td a.delete-sale-return-edit {
    color: #E34724;
}

#edit-sale-return-table.table td i {
    font-size: 16px;
}
#edit-sale-return-table.table td a.add-sale-return-edit i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-sale-return-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-sale-return-table.table .form-control.error {
border-color: #f50000;
}
#edit-sale-return-table.table td .add-sale-return-edit {
display: none;
}


/* ================================================================================================= */

#new-sale-return-table.table {
    /*table-layout: fixed*/;
}
#new-sale-return-table.table tr th{
    font-size: 10px;
}
#new-sale-return-table.table tr td{
    font-size: 14px;
}
#new-sale-return-table.table tr th, #new-sale-return-table.table tr td {
    border-color: #e9e9e9;
}
#new-sale-return-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-sale-return-table.table th:last-child {
    width: 70px;
}
#new-sale-return-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-sale-return-table.table td a.add-sale-return {
    color: #27C46B;
}
#new-sale-return-table.table td a.edit-sale-return {
    color: #FFC107;
}
#new-sale-return-table.table td a.delete-sale-return{
    color: #E34724;
}

#new-sale-return-table.table td i {
    font-size: 16px;
}
#new-sale-return-table.table td a.add-sale-return i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-sale-return-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-sale-return-table.table .form-control.error {
border-color: #f50000;
}
#new-sale-return-table.table td .add-sale-return {
display: none;
}

/* =============================================================================== */

.table-title .add-item-sale-edit {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-sale-edit i {
margin-right: 4px;
}

#edit-sale-table.table {
    /*table-layout: fixed*/;
}
#edit-sale-table.table tr th{
    font-size: 10px;
}
#edit-sale-table.table tr td{
    font-size: 10px;
}
#edit-sale-table.table tr th, #edit-sale-table.table tr td {
    border-color: #e9e9e9;
}
#edit-sale-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-sale-table.table th:last-child {
    width: 100px;
}
#edit-sale-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-sale-table.table td a.add-sale-edit {
    color: #27C46B;
}
#edit-sale-table.table td a.edit-sale-edit {
    color: #FFC107;
}
#edit-sale-table.table td a.delete-sale-edit {
    color: #E34724;
}

#edit-sale-table.table td i {
    font-size: 16px;
}
#edit-sale-table.table td a.add-sale-edit i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-sale-table.table td .add-sale-edit {
display: none;
}


/* ============================================================================= */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {

    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:black;
    font-weight:300;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
    color:#007bff ;
}
.tree li a {
    text-decoration: none;
    color:black;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:black;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

/* =============================================================================== */

.table-title .add-item-jv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .load-invoices {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .load-invoices i {
margin-right: 4px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .add-item-cpv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-cpv i {
margin-right: 4px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .add-item-brv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-brv i {
margin-right: 4px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .add-item-bpv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-bpv i {
margin-right: 4px;
}

#new-jv-table.table {
    /*table-layout: fixed*/;
}
#new-jv-table.table tr th{
    font-size: 14px;
}
#new-jv-table.table tr td{
    font-size: 14px;
}
#new-jv-table.table tr th, #new-jv-table.table tr td {
    border-color: #e9e9e9;
}
#new-jv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-jv-table.table th:last-child {
    width: 100px;
}
#new-jv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-jv-table.table td a.add-jv {
    color: #27C46B;
}
#new-jv-table.table td a.edit-jv {
    color: #FFC107;
}
#new-jv-table.table td a.delete-jv {
    color: #E34724;
}

#new-jv-table.table td i {
    font-size: 16px;
}
#new-jv-table.table td a.add-jv i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-jv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-jv-table.table .form-control.error {
border-color: #f50000;
}
#new-jv-table.table td .add-jv {
display: none;
}

/* =============================================================================== */

.table-title .edit-item-jv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-item-jv i {
margin-right: 4px;
}

#edit-jv-table.table tr th,td{
    font-size: 14px;
}

#edit-jv-table.table {
    /*table-layout: fixed*/;
}
#edit-jv-table.table tr th{
    font-size: 10px;
}
#edit-jv-table.table tr td{
    font-size: 10px;
}
#edit-jv-table.table tr th, #edit-jv-table.table tr td {
    border-color: #e9e9e9;
}
#edit-jv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-jv-table.table th:last-child {
    width: 100px;
}
#edit-jv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-jv-table.table td a.add-jv-edit {
    color: #27C46B;
}
#edit-jv-table.table td a.edit-jv-edit {
    color: #FFC107;
}
#edit-jv-table.table td a.delete-jv-edit {
    color: #E34724;
}

#edit-jv-table.table td i {
    font-size: 16px;
}
#edit-jv-table.table td a.add-jv-edit i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-jv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-jv-table.table .form-control.error {
border-color: #f50000;
}
#edit-jv-table.table td .add-jv-edit {
display: none;
}

/* =============================================================================== */\


#edit-rfq-customer-table.table tbody tr td{
    font-size: 15px;
}
#edit-rfq-customer-table.table tr th,td{
    font-size: 14px;
}
#new-quotation-customer-table.table tbody tr td{
    font-size: 15px;
}
#new-quotation-customer-table.table tr th,td{
    font-size: 14px;
}
#edit-quotation-customer-table.table tbody tr td{
    font-size: 15px;
}
#edit-quotation-customer-table.table tr th,td{
    font-size: 14px;
}

#new-po-customer-table.table tbody tr td{
    font-size: 15px;
}
#new-po-customer-table.table tr th,td{
    font-size: 14px;
}
#edit-po-customer-table.table tbody tr td{
    font-size: 15px;
}
#edit-po-customer-table.table tr th,td{
    font-size: 14px;
}
#new-dc-customer-table.table tbody tr td{
    font-size: 15px;
}
#new-dc-customer-table.table tr th,td{
    font-size: 14px;
}
#edit-dc-customer-table.table tbody tr td{
    font-size: 15px;
}
#edit-dc-customer-table.table tr th,td{
    font-size: 14px;
}

#new-purchase-table.table tbody tr td{
    font-size: 15px;
}
#new-purchase-table.table tr th,td{
    font-size: 14px;
}

#edit-purchase-table.table tbody tr td{
    font-size: 15px;
}
#edit-purchase-table.table tr th,td{
    font-size: 14px;
}

#edit-mrn-customer-table.table tbody tr td{
    font-size: 15px;
}
#edit-mrn-customer-table.table tr th,td{
    font-size: 14px;
}

#new-sale-table.table tbody tr td{
    font-size: 15px;
}
#new-sale-table.table tr th,td{
    font-size: 14px;
}

#edit-sale-table.table tbody tr td{
    font-size: 15px;
}
#edit-sale-table.table tr th,td{
    font-size: 14px;
}

#new-sale-table-direct.table tbody tr td{
    font-size: 15px;
}
#new-sale-table-direct.table tr th,td{
    font-size: 14px;
}

.table-title .add-item-jo {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

.table-title .add-item-jo i {
margin-right: 4px;
}
