{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% load break_loop %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Delivery Challan Customer</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group">
      <div class="col-md-12">
        {% if permission.add == 1%}
        <a role="button" href="{% url 'new-delivery-challan-customer' %}" style="float:right;" class="btn btn-outline-secondary" name="button"><i class="fas fa-plus"></i> Add New</a>

        {% else %}
        <a role="button" href="#" style="float:right;" class="btn btn-outline-secondary disabled" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% endif %}

      </div>
    </div>
    <br>
    <div class="table table-responsive content-loader">
      <table class="table table-bordered sort" id="dataTable">
          <thead>
              <tr>
                  <th width="70px" >S NO.</th>
                  <th width="140px">DC no</th>
                  <th >Customer Name</th>
                  <th >Date</th>
                  <th >From</th>
                  <th >Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in all_dc reversed %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ value.dc_no }}</td>
                <td>{{value.account_id.account_title}}</td>
                <td>{{ value.date }}</td>
                <td>{{ value.user_id.username }}</td>
                <td>
                    {% if permission.edit == 1 %}
                  <a class="edit_list" href="{% url 'edit-delivery-challan-customer' pk=value.id %}" data-toggle=""><i class="material-icons">&#xE254;</i></a>
                    {% endif %}

                  {% with i=0 %}
                  {% if is_dc %}

                  {% for i in is_dc %}
                    {% if value.dc_no == i.1  %}
                      <a href="{% url 'direct-sale' pk=value.id %} " style="color:black;" target="_blank"><i class="fas fa-file-invoice"></i></a>
                    {% endif %}
                  {% endfor %}
                  {% else %}
                  <a href="#" style="color:gray;"><i class="fas fa-file-invoice"></i></a>
                  {% endif %}

                  {% if permission.r_print == 1 %}
                  <a href="{% url 'print-dc-customer' pk=value.id %}" target="_blank"><i class="fa fa-print" id="print_icon" aria-hidden="true"></i></a>
                  {% endif %}

                  {% if permission.delete == 1 %}
                  <a class="delete-po-supplier"  data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                  {% endif %}

                  {% endwith %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </li>
</ul>
</div>


{% endblock body %}
