{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Delivery Challan Customer</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" method="post" id="edit-customer-dc-submit" autocomplete="off">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">DC No</label>
          <input type="text" readonly class="form-control form-control-sm" value="{{dc_header.dc_no}}">
        </div>
        <div class="form-group col-md-2">
          <label>Customer Name</label>
          <input list="account" class="form-control form-control-sm" required value="{{dc_header.account_id.account_title}}" id="edit_dc">
          <datalist id="account">
            {% for value in all_accounts %}
            <option value="{{value.account_title}}" />
            {% endfor %}
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Date</label>
          <input type="date" class="form-control form-control-sm" value="{{dc_header.date|date:'Y-m-d'}}"  id="date">
        </div>
        <div class="form-group col-md-2 ">
          <label for="">From</label>
          <input type="text" readonly class="form-control form-control-sm" value="{{dc_header.user_id.username}}">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm" value="{{dc_header.follow_up|date:'Y-m-d'}}"  id="follow_up">
        </div>
        <div class="form-group col-md-2">
          <label for="">Remarks</label>
          <textarea name="name" style="height:30px; width:180px;" id="footer_remarks">{{dc_header.footer_remarks}}</textarea>
        </div>
      </div>
  </li>
  <li class="list-group-item">

    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter Item Code No here..." class="form-control form-control-sm" id="edit_item_code">
          </div>
          <datalist id="item">
            {% for value in all_item_code %}
              <option value="{{value.product_code}}">{{value.product_code}}| {{value.product_name}} | {{value.product_desc}}</option>
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info has_id edit-dc-customer" id="{{pk}}"><i class="fa fa-plus"></i>Insert Another Item</button>
            </div>
            <div class="form-group col-md-3">
              <input type="text" list="po" placeholder="Enter Po No here..." class="form-control form-control-sm" value="{{dc_header.po_no}}" id="item_code_po_dc">
            </div>
            <datalist id="po">
              {% for value in all_po_code %}
              <option value="{{value.po_client}}">{{value.po_client}} | {{value.account_id.account_title}}</option>
              {% endfor %}
            </datalist>
            <div style="margin-left:20px;">
                <a type="button" class="btn btn-success add-new-dc-customer" href="{% url 'add-product' %}" target="_blank"><i class="fa fa-plus"></i>Add new Item <small>(Inventory)</small> </a>
            </div>
        </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="edit-dc-customer-table">
          <thead>
            <tr>
                <th width="70px">S No.</th>
                <th width="170px">Item Code</th>
                <th width="170px">Item Name</th>
                <th>Description</th>
                <th width="90px">Quantity</th>
                <th width="90px">Unit</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for value in dc_detail %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td style="display:none;">{{ value.item_id.id }}</td>
              <td>{{ value.item_id.product_code }}</td>
              <td>{{ value.item_id.product_name }}</td>
              <td><pre>{{ value.item_id.product_desc }}</pre></td>
              <td>{{ value.quantity }}</td>
              <td>{{ value.item_id.unit }}</td>
              <td style="display:none;">{{ value.po_no }}</td>
              <td><a class="add-dc-edit-customer" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit-dc-edit-customer" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete-dc-edit-customer" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}">Update <small>(Delivery Challan)</small></button>
    </div>
  </li>
</form>
</ul>
</div>


{% endblock body %}
