{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Quotation Customer</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" method="post" id="edit-customer-quotation-submit">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Quotation No</label>
          <input type="text" class="form-control form-control-sm" readonly required value="{{quotation_header.quotation_no}}">
        </div>
        <div class="form-group col-md-2">
          <label>Customer Name</label>
          <input list="account" class="form-control form-control-sm" required value="{{quotation_header.account_id.account_title}}" id="quotation_customer_edit">
          <datalist id="account">
            {% for value in all_accounts %}
            <option value="{{value.account_title}}" />
            {% endfor %}
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Attn</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.attn}}" id="edit_quotation_attn">
        </div>
        <div class="form-group col-md-2">
          <label for="">Prc Basis</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.prc_basis}}" id="edit_quotation_prcbasis">
        </div>
        <div class="form-group col-md-2">
          <label for="">Yr Ref</label>
          <input type="text" class="form-control form-control-sm"  id="edit_quotation_yrref">
        </div>
        <div class="form-group col-md-2">
          <label for="">Lead Time</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.leadtime}}" id="edit_quotation_leadtime">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Validity</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.validity}}" id="edit_quotation_validity">
        </div>
        <div class="form-group col-md-2">
          <label for="">Payment</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.payment}}" id="edit_quotation_payment">
        </div>
        <div class="form-group col-md-2">
          <label>Remarks</label>
          <input list="browsers" class="form-control form-control-sm" value="{{quotation_header.remarks}}" id="edit_quotation_remarks">
            <datalist id="browsers">
             <option value="Internet Explorer">
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Currency Rate</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.currency}}" id="edit_quotation_currency_rate">
        </div>
        <div class="form-group col-md-2">
          <label for="">Exchange Rate</label>
          <input type="text" class="form-control form-control-sm" value="{{quotation_header.exchange_rate}}" id="edit_quotation_exchange_rate">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm" value="{{quotation_header.follow_up|date:"Y-m-d"}}" id="edit_quotation_follow_up">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Footer Remarks</label>
          <textarea name="name" style="height:30px; width:370px;" id="footer_remarks">{{quotation_header.footer_remarks}}</textarea>
        </div>
      </div>
      </li>
  <li class="list-group-item">
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="edit_item_code">
          </div>
          <datalist id="item">
            {% for value in all_item_code %}
            <option value="{{value.product_code}}" />
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info has_id edit-quotation-customer" id="{{pk}}"><i class="fa fa-plus"></i>Insert Another Item</button>
            </div>
        </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="edit-quotation-customer-table">
          <thead>
            <tr>
                <th width="70px">S No.</th>
                <th width="140px">Item Code</th>
                <th width="140px">Item Name</th>
                <th>Description</th>
                <th width="90px">Quantity</th>
                <th width="120px">Unit</th>
                <th width="120px">Unit/Price</th>
                <th width="150px">Remarks</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for value in quotation_detail %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td style="display:none;"> {{value.item_id.id}} </td>
                <td> {{value.item_id.product_code}} </td>
                <td> {{value.item_id.product_name}} </td>
                <td><pre>{{value.item_id.product_desc}}</pre></td>
                <td> {{value.quantity}} </td>
                <td> {{value.item_id.unit}} </td>
                <td> {{value.unit_price}} </td>
                <td> {{value.remarks}} </td>
                <td><a class="add-quotation-edit-customer" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit-quotation-edit-customer" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete-quotation-edit-customer" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}">Update <small>(Quotation)</small></button>
    </div>
  </li>
</form>
</ul>
</div>


{% endblock body %}
