{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>New Delivery Challan Customer</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" id="new-dc-customer-form" method="post" autocomplete="off">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">DC No</label>
          <input type="text" readonly class="form-control form-control-sm" required value="{{get_last_dc_no}}" id="dc_no_supplier">
        </div>
        <div class="form-group col-md-3">
         <label for="">Customer</label>
          <div class="input-group mb-3">
            <input type="text" list="accounts" class="form-control form-control-sm" required placeholder="Customer Name" aria-label="Recipient's username" aria-describedby="basic-addon2" id="dc_customer">
            <div class="input-group-append">
              <a class="btn btn-outline-secondary on btn-sm" href="{% url 'chart-of-account' %}" target="_blank" type="button"><i class="fas fa-plus"></i></a>
            </div>
            <datalist id="accounts">
              {% for value in all_accounts %}
              <option value="{{value.account_title}}">{{value.account_title}}</option>
              {% endfor %}
           </datalist>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up <small>( for MRN )</small> </label>
          <input type="date" class="form-control form-control-sm"  id="follow_up">
        </div>
        <div class="form-group col-md-2">
          <label for="">Cartage Amount</label>
          <input type="text" class="form-control form-control-sm" value="" id="cartage_amount">
        </div>
        <div class="form-group col-md-2">
          <label for="">Comments</label>
          <textarea name="name" style="height:30px; width:270px;" id="comments"></textarea>
        </div>
        <div class="form-group col-md-2">
          <label for="">Footer Remarks</label>
          <textarea name="name" style="height:30px; width:370px;" id="footer_remarks"></textarea>
        </div>
      </div>
    </li>
    <li class="list-group-item">
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="item_code_dc">
          </div>
          <datalist id="item">
            {% for value in all_item_code %}
            <option value="{{value.product_code}}">{{value.product_code}} | {{value.product_name}} | {{value.product_desc}}</option>
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info add-new-dc-customer"><i class="fa fa-plus"></i>Insert Item</button>
            </div>
        </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="new-dc-customer-table">
          <thead>
            <tr>
                <th width="70px">S No.</th>
                <th width="170px">Item Code</th>
                <th width="170px">Item Name</th>
                <th>Description</th>
                <th width="90px">Quantity</th>
                <th width="90px">Unit</th>
                <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" name="">Submit <small>(Delivery Challan)</small></button>
    </div>
  </li>
</form>
</ul>
</div>


{% endblock body %}
