{% load mathfilters %}
<html>
<head>
  <title>{{header.po_no}}</title>
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            /* left: 30pt; width: 512pt; top: 20pt; height: 390pt; */
        }
        @frame content_frame {          /* Content Frame */
            left: 30pt; width: 535pt; top: 10pt; height: 715pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 30pt; width: 535pt; top: 733pt; height: 140pt;
        }
    }
    table > thead > tr > th {
      text-align: center;
      font-family: "Times New Roman", Times, serif;
        }
        table > thead > tr > td {
          text-align: center;
          font-family: "Times New Roman", Times, serif;
        }
        .no-bottom-border{
            border-bottom:none;
        }
        .heading_row{
          border:1px solid black;
        }
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
    </div>

<!-- Content for Static Frame 'footer_frame' -->
<div id="footer_content">
  <div class="footer">
       <div>
         <pre>{{header.footer_remarks}}</pre>
         <h1 style="text-align:right;">for {{image.company_name}}</h1>
       </div>
     </div>
  page <pdf:pagenumber> of <pdf:pagecount>
  <p style="text-align:center;">Software Developed By TechFurq, 92 322 2832789, info@techfurq.com, www.techfurq.com</p>
</div>

    <!-- HTML Content -->

  <br>
  <br>
  <div class="body">
      <div>
         <img style="width:150px; height:100px;" src="{{image.company_logo}}" align="right"/>
         {% for value in company_info %}
         <font size="25px" color="#0a012c" ><b>{{value.company_name}}</b></font></br>
         <font size="11px" color="#0a012c" >33 Amina Mansion, Belasis Street,</font><br>
         <font size="11px" color="#0a012c" >New Chali Karachi Pakistan</font><br>
         <font size="11px" color="#0a012c" >{{ value.phone_no }}</font></br>
         <font size="11px" color="#0a012c" >{{ value.mobile_no }}</font></br>
         <font size="11px" color="#0a012c" >{{ value.email }}</font></br>
         <font size="11px" color="#0a012c" >{{ value.website }}</font>
         {% endfor %}
     </div>
     <br>
     <br>
     <font size="22px" color="#0a012c"><b>Purchase Order</b></font>
     <br>
     <header>
       <table style="border-bottom:1px solid black; border-spacing: 40px 10px;" cellpadding="3" bgcolor="#f7f7f7">
       <thead>
         <tr>
           <th align="left" style="width: 130px;"><font size="14px" color="#0a012c">Our ref:</font></th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.po_no}}</font></td>
           <th align="left" style="width: 130px;"><font size="14px" color="#0a012c">To:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.account_id.account_title}}</font></td>
         </tr>
         <tr>
           <th align="left"><font size="14px" color="#0a012c">Date:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.date}}</font></td>
           <th align="left"><font size="14px" color="#0a012c">Attn:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.attn}}</font></td>

         </tr>
         <tr>
           <th align="left"><font size="14px" color="#0a012c">From:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">user1</font></td>
           <th align="left"><font size="14px" color="#0a012c">Email:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.account_id.email_address}}</font></td>
         </tr>
         <tr>
           <th align="left"><font size="14px" color="#0a012c">Prc Basis:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.prc_basis}}</font></td>
           <th align="left" style="padding-top:4px;"><font size="14px" color="#0a012c">PO No:</font></th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.po_client}}</font></td>
         </tr>
         <tr>
           <th align="left"><font size="14px" color="#0a012c">Lead Time:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c">{{header.leadtime}}</font></td>
           <th align="left"><font size="14px" color="#0a012c">Validity:</font</th>
           <td align="left" style="padding-top:4px;" color="#0a012c"><font size="12px">{{header.validity}}</font></td>
         </tr>
         <tr>
           <th align="left"><font size="14px" color="#0a012c">Payment:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c" >{{header.payment}}</font></td>
           <th align="left"><font size="14px" color="#0a012c" >Remarks:</font</th>
           <td align="left" style="padding-top:4px;"><font size="12px" color="#0a012c" >{{header.remarks}}</font></td>
         </tr>
       </thead>
       </table>
     </header>
     <br>
     <br>
    <table cellpadding="3" id="item_table" repeat="1">
      <thead>
        <tr class="heading_row">
          <th align="center" style="width: 70px;"><font size="14px">S No.</font></th>
          <th style="width:400px;"><font size="14px">Part Name & Description</font></th>
          <th><font size="14px">Qty</font></th>
          <th><font size="14px">Unit</font></th>
          <th><font size="14px">Unit/Price</font></th>
          <th><font size="14px">Amount</font></th>
        </tr>
        <tr class="heading_row">
          <th style="width: 70px;"></th>
          <th style="width:400px;"></th>
          <th></th>
          <th></th>
          <th>in {{header.currency}}</th>
          <th>in {{header.currency}}</th>
        </tr>
      </thead>
      <tbody>
        {% for detail in detail %}
        <tr>
          <td style="padding:10px; width: 70px; text-align: center; border-left:1px solid black; border-right:1px solid black;"><font style="margin-top:-100px;">{{forloop.counter}}</font></td>
          <td style="border-left:1px solid black; border-right:1px solid black;"><font>{{detail.item_id.product_name}}<font>
              <pre style="padding:0px; margin-top:-100px;">{{detail.item_id.product_desc}}</pre>
          </td>
          <td style="border-left:1px solid black; text-align: center; border-right:1px solid black;">{{detail.quantity}}</td>
          <td style="border-left:1px solid black; text-align: center; border-right:1px solid black;">{{detail.unit}}</td>
          <td style="border-left:1px solid black; text-align: center; border-right:1px solid black; border-right:1px solid black;">{{detail.unit_price}}</td>
          <td style="border-left:1px solid black; text-align: center; border-right:1px solid black; border-right:1px solid black;">{{detail.unit_price|mul:detail.quantity}}</td>
        </tr>
        {% endfor %}

      <tr class="heading_row">
        <td style="width: 70px;"></td>
        <td style="width:400px;"></td>
        <td></td>
        <td></td>
        <td style="text-align:center;" ><b>Total in {{header.currency}}</b></td>
        <td style="text-align:center;" >{{total_amount|floatformat:2}}</td>
      </tr>
    </tbody>
  </table>
  <br>
</div>

</body>
</html>
