{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Quotation Customer</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group">
      <div class="col-md-12">
        {% if permission.add == 1 %}
        <a role="button" href="{% url 'new-quotation-customer' %}" style="float:right;" class="btn btn-outline-secondary" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% else %}
        <a role="button" href="#" style="float:right;" class="btn btn-outline-secondary disabled" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="table table-responsive">
      <table class="table table-bordered sort" id="dataTable">
          <thead>
              <tr>
                  <th width="70px" >S NO.</th>
                  <th >Quotation no</th>
                  <th >Supplier</th>
                  <th >Date</th>
                  <th >From</th>
                  <th width="60px">Currency Unit</th>
                  <th >Exchange Rate</th>
                  <th >Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in all_quotation reversed %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td> {{ value.quotation_no }} </td>
                  <td> {{ value.account_id.account_title }} </td>
                  <td> {{ value.date }} </td>
                  <td> {{value.user_id.username}}  </td>
                  <td> {{ value.currency }} </td>
                  <td> {{ value.exchange_rate }} </td>
                  <td>

                      {% if permission.edit == 1 %}
                        <a class="edit_list" href="{% url 'edit-quotation-customer' pk=value.id %}" data-toggle=""><i class="material-icons">&#xE254;</i></a>
                      {% endif %}

                      {% if permission.print == 1 %}
                        <a href="{% url 'print-quotation-customer' pk=value.id %}" target="_blank"><i class="fa fa-print" id="print_icon" aria-hidden="true"></i></a>
                      {% endif %}

                      {% if permission.delete == 1 %}
                        <a class="delete-all" href="{% url 'delete-quotation-customer' pk=value.id %}"  data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      {% endif %}

                  </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </li>
</ul>
</div>


{% endblock body %}
