{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Chart Of Account</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <form class="" action="{% url 'chart-of-account' %}" method="post" autocomplete="off">
      {% csrf_token %}
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                    <div class="col-md-12">




                        <ul id="tree1">
                            <li><a href="#">Chart Of Account</a>
                                <ul>
                                {% for v in all_accounts_null %}
                                    <li><a href="#">{{v.account_title}}</a>
                                      {% for a in all_accounts  %}
                                        {% if v.id == a.parent_id %}
                                        <ul>
                                            <li><a href="#">{{a.account_title}}</a>
                                                <ul>
                                                  {% for b in all_accounts %}
                                                  {% if a.id == b.parent_id %}
                                                  <li><a href="#">{{b.account_title}}</a>
                                                    <ul>
                                                      {% for c in all_accounts %}
                                                      {% if b.id == c.parent_id %}
                                                      <li><a href="#">{{c.account_title}}</a>
                                                        <ul>
                                                          {% for d in all_accounts %}
                                                          {% if c.id == d.parent_id %}
                                                          <li><a href="#">{{d.account_title}}</a>
                                                            <ul>
                                                              {% for e in all_accounts %}
                                                              {% if d.id == e.parent_id %}
                                                              <li><a href="#">{{e.account_title}}</a>
                                                              </li>
                                                              {% endif %}
                                                              {% endfor %}
                                                            </ul>
                                                          </li>
                                                          {% endif %}
                                                          {% endfor %}
                                                        </ul>
                                                      </li>
                                                      {% endif %}
                                                      {% endfor %}
                                                    </ul>
                                                  </li>
                                                  {% endif %}
                                                  {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                        {% endif %}
                                      {% endfor %}
                                    </li>
                                  {% endfor %}
                                </ul>
                            </li>
                        </ul>




                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
          <div class="float-right">
            <form>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Account Title:</label>
                <div class="col-sm-8">
                  <input type="select" class="form-control form-control-sm" required name="account_title" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Account Type:</label>
                <div class="col-sm-8">
                  <select class="form-control" name="account_type">
                  {% for account in all_accounts %}
                    <option value="{{account.id}}">{{account.account_title}}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label" >Opening Balance:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-sm" name="opening_balance" placeholder="">
                </div>
                <div class="col-md-4">
                  <label><input type="radio" name="optradio" value="debit">Dr.</label>&nbsp;
                  <label><input type="radio" name="optradio" value="credit">Cr.</label>
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Phone No:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="phone_no" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Email Address:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="email_address" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">NTN:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="ntn" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">STN:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="stn" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">CNIC:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="cnic" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Address:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="address" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Remarks:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="remarks" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label">Credit Limits:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control form-control-sm" name="credit_limits" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label for="" class="col-sm-4 form-control-sm col-form-label"></label>
                <div class="col-sm-8">
                  {% if permission.add == 1 %}
                  <input type="submit" class="btn btn-outline-primary form-control" placeholder="" value="Create">
                  {% else %}
                  <input disabled class="btn btn-outline-primary form-control" placeholder="" value="Create">
                  {% endif %}
                </div>
              </div>
            </form>
              </div>
              </div>
              </div>

            </div>
          </div>
        </div>
    </div>
    </form>
  </li>
  </ul>
</div>



{% endblock body %}
