{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Sales</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" id="edit-sale-submit" autocomplete="off" method="post">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="">Sale ID</label>
          <input type="text" readonly class="form-control form-control-sm" required value="{{ sale_header.sale_no }}" id="sale_id">
        </div>

        <div class="form-group col-md-2">
          <label>Customer Name</label>
          <input list="account" id="customer_name_sale" class="form-control form-control-sm" value="{{ sale_header.account_id.account_title }}" required >
          <datalist id="account">
            {% for value in all_accounts %}
            <option value="{{value.account_title}}">{{value.account_title}}</option>
            {% endfor %}
          </datalist>
        </div>

        <div class="form-group col-md-2">
         <label for="sel1">Payment Term:</label>
         <select class="form-control form-control-sm" id="payment_method">
           <option selected>{{sale_header.payment_method}}</option>
           {% if sale_header.payment_method == "Cash" %}
              <option>Credit</option>
           {% else %}
              <option>Cash</option>
           {% endif %}
         </select>
        </div>
        <div class="form-group col-md-2">
          <label for="">Credit Days:</label>
          <input type="text" readonly class="form-control form-control-sm" value="{{sale_header.credit_days}}" id="credit_days">
        </div>
        <div class="form-group col-md-2">
          <label for="">HS Code</label>
          <input type="text" class="form-control form-control-sm"  value="{{sale_header.hs_code}}" id="hs_code">
        </div>
        {% if purchase_header.follow_up|date:"Y-m-d" == "2010-06-10" %}
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm"  value="" id="follow_up">
        </div>
        {% else %}
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm"  value="{{ sale_header.follow_up|date:"Y-m-d" }}" id="follow_up">
        </div>
        {% endif %}

        <div class="form-group">
          <label for="exampleFormControlTextarea2">Footer Description</label>
          <textarea class="form-control rounded-0" rows="3" id="footer_desc">{{ sale_header.footer_description }}</textarea>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="table-title">
          <div class="row">
              <div class="form-group col-md-3">
                <input type="text" list="dc" placeholder="Enter Dc No here..." class="form-control form-control-sm" id="dc_code_sale">
              </div>
              <datalist id="dc">
              </datalist>
                <div style="margin-left:20px;">
                    <button type="button" class="btn btn-info add-item-sale-edit has_id" id={{pk}}><i class="fa fa-plus"></i>Insert Delivery Challan</button>
                </div>
          </div>
      </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="edit-sale-table">
          <thead>
              <tr>
                  <th width="100px">Item Code</th>
                  <th width="70px">Item Name</th>
                  <th width="70px">Desc.</th>
                  <th width="140px">Qty</th>
                  <th width="70px">Unit</th>
                  <th width="140px">Price</th>
                  <th width="70px">VOG</th>
                  <th width="90px">ST in % </th>
                  <th width="90px">ST Amount</th>
                  <th width="90px">Total Amount</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in sale_detail %}
            {% with vog=value.quantity|mul:value.cost_price sales_tax_amount=value.sales_tax|mul:value.quantity|mul:value.cost_price|div:100 %}
              <tr>
                <td style="display:none;">{{value.item_id.id}}</td>
                <td>{{value.item_id.product_code}}</td>
                <td>{{value.item_id.product_name}}</td>
                <td><pre>{{value.item_id.product_desc}}</pre></td>
                <td id="quantity_edit"> {{value.quantity}} </td>
                <td> {{value.item_id.unit}} </td>
                <td id="price_edit">{{value.cost_price}}</td>
                <td id="value_of_goods_edit">{{vog|floatformat:2}}</td>
                <td id="sales_tax_edit">{{value.sales_tax}}</td>
                <td id="sales_tax_amount_edit">{{sales_tax_amount|floatformat:2}}</td>
                <td id="total_amount">{{sales_tax_amount|floatformat:"0"|add:vog|floatformat:2}}</td>
                <td style="display:none;">{{value.dc_ref}}</td>
                <td><a class="add-sale-edit" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit-sale-edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete-sale-edit" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
              </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
      </table>
    </div>
    </li>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6" style="margin-left:-120px;">
          <div>
              <button type="button" class="btn btn-info add-cartage"><i class="fa fa-plus"></i>Insert Cartage</button>
          </div>
        </div>
        <br>
        <br>
        <table id="cartage-table">
          <thead>
            <th style="width:150px;"></th>
            <th style="width:150px;"></th>
          </thead>
          <tbody>
            {% for v in cartages %}
              <tr>
                <td><b>Cartage Amount:</b></td><span>&nbsp;&nbsp;&nbsp;</span>
                <td>{{v.cartage}}</td><span>&nbsp;&nbsp;&nbsp;</span>
                <td><b>Po No:</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{v.po_no}}</td><span>&nbsp;&nbsp;&nbsp;</span>
                <td><a class="add-cart" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit-cartage" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete-cartage" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
          <br>
          <div class="col-md-6" style="margin-left:200px;">
            <div class="form-inline">
              <div class="form-group">
                <label for="text" style="font-size:14px;">Additional Tax: &nbsp;&nbsp;&nbsp;</label>
                <input type="text" class="form-control form-control-sm" style="border-top: 0px; border-right:0px; border-left:0px;" id="additional_tax" required value="{{sale_header.additional_tax}}">
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label for="text" style="font-size:14px;">Sales Tax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" readonly class="form-control form-control-sm" style="border-top: 0px; border-right:0px; border-left:0px;" id="total_sales_tax" required value="0.00">
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label for="text" style="font-size:14px;"><b>Grand Total:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" readonly class="form-control form-control-sm" id="last_grand_total" style="border-top: 0px; border-right:0px; border-left:0px;">
              </div>
            </div>
          </div>
      </div>
    </div>

      <br>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}">Update <small>(Sale)</small></button>
    </div>
    <br>
</form>
</ul>
</div>


{% endblock body %}
