{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Sales Invoice</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" id="new-sale-submit-ngst" autocomplete="off" method="post">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Sales ID</label>
          <input type="text" readonly class="form-control form-control-sm" required value="{{ get_last_sale_no }}" id="sale_id">
        </div>
        <div class="form-group col-md-2">
          <label>Customer Name</label>
          <input list="account" id="customer_name_sale" class="form-control form-control-sm" required >
          <datalist id="account">
            {% for value in all_accounts %}
            <option value="{{value.account_title}}">{{value.account_title}}</option>
            {% endfor %}
        </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Date</label>
          <input type="date"  class="form-control form-control-sm"   id="date" required>
        </div>
        <div class="form-group col-md-2">
         <label for="sel1">Payment Term:</label>
         <select class="form-control form-control-sm" id="payment_method">
           <option>Cash</option>
           <option>Credit</option>
         </select>
        </div>
        <div class="form-group col-md-2">
          <label for="">Credit Days:</label>
          <input type="text" readonly class="form-control form-control-sm" value="" id="credit_days">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date"  class="form-control form-control-sm"   id="follow_up">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea2">Description</label>
          <textarea class="form-control rounded-0" rows="3" id="footer_desc"></textarea>
        </div>
      </div>
    </li>
    <li class="list-group-item">
    <div class="table-title">
        <div class="row">
            <div class="form-group col-md-3">
              <input type="text" list="dc" placeholder="Enter Dc No here..." class="form-control form-control-sm" id="dc_code_sale">
            </div>
            <datalist id="dc">
            </datalist>
              <div style="margin-left:20px;">
                  <button type="button" class="btn btn-info add-item-sale-ngst"><i class="fa fa-plus"></i>Insert Delivery Challan</button>
              </div>
        </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="new-sale-table-ngst">
          <thead>
              <tr>
                  <th width="40px" style="font-size:10px;">S No.</th>
                  <th width="100px">Item Code</th>
                  <th width="70px">Item Name</th>
                  <th width="70px">Desc.</th>
                  <th width="60px">Qty</th>
                  <th width="60px">Unit</th>
                  <th width="70px">Price</th>
                  <th width="90px">VOG</th>
                  <th width="90px">Total</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
    </li>
    <br>
      <input type="hidden" name="" value="" id="hidden">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6" style="margin-left:-120px;">
            <div>
                <button type="button" class="btn btn-info add-cartage-ngst"><i class="fa fa-plus"></i>Insert Cartage</button>
            </div>
          </div>
          <br>
          <br>
          <table id="cartage-table">
            <thead>
              <th style="width:150px;"></th>
              <th style="width:150px;"></th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
            <br>
            <div class="col-md-6" style="margin-left:200px;">
              <div class="form-inline">
                <div class="form-group">
                  <label for="text" style="font-size:14px;"><b>Grand Total:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <input type="text" readonly class="form-control form-control-sm" id="last_grand_total" style="border-top: 0px; border-right:0px; border-left:0px;">
                </div>
              </div>
            </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary">Submit <small>(Sale)</small></button>
    </div>
    <br>
</form>
</ul>
</div>
{% endblock body %}
