{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Purchases</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <ul style="list-style-type:none;" class="messages">
      {% if messages %}
        {% for msg in messages %}
          <li>
            <div class="alert {{msg.level_tag}}">
              {{msg.message}}
            </div>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <div class="input-group">
      <div class="col-md-12">
        {% if permission.add == 1 %}
        <a role="button" href="{% url 'new-purchase' %}" style="float:right;" class="btn btn-outline-secondary" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% else %}
        <a role="button" href="#" style="float:right;" class="btn btn-outline-secondary disabled" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% endif %}
      </div>
    </div>
    <br>
    <div class="table table-responsive content-loader">
      <table class="table table-bordered sort" id="dataTable">
          <thead>
              <tr>
                  <th width="140px">Purchase ID</th>
                  <th >Date</th>
                  <th >Supplier</th>
                  <th >From</th>
                  <th width="400px">Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in all_purchases reversed %}
            <tr>
                <td>{{ value.purchase_no }}</td>
                <td>{{ value.date }}</td>
                <td>{{ value.account_id.account_title }}</td>
                <td>user1</td>
                <td>
                  {% if permission.edit == 1 %}
                  <a class="edit_list" href="{% url 'edit-purchase' pk=value.id %}" data-toggle=""><i class="material-icons">&#xE254;</i></a>
                  {% endif %}

                  {% if permission.r_return == 1 %}
                  <a href="{% url 'new-purchase-return' pk=value.id %}" data-toggle=""><i class="fas fa-undo"></i></a>
                  {% endif %}

                  {% if permission.delete == 1 %}
                  <a class="delete_purchase" href="{% url 'delete-purchase' pk=value.id %}" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </li>
</ul>
</div>


{% endblock body %}
