{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Sales</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <!-- <div class="form-row">
      <input type="text" name=""class="form-control col-md-2" value="">
    </div> -->
    <div class="input-group">
      <div class="col-md-12">
        {% if permission.add == 1 %}
        <a role="button" href="{% url 'new-sale' %}" style="float:right;" class="btn btn-outline-secondary" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% else %}
        <a role="button" href="#" style="float:right;" class="btn btn-outline-secondary disabled" name="button"><i class="fas fa-plus"></i> Add New</a>
        {% endif %}

      </div>
    </div>
    <br>

    <div class="table table-responsive content-loader">
      <table class="table table-bordered sort" id="dataTable">
          <thead>
              <tr>
                  <th width="140px">Sale ID</th>
                  <th >Date</th>
                  <th >Customer</th>
                  <th >From</th>
                  <th >Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in all_sales reversed %}
            <tr>
                <td>{{ value.sale_no }}</td>
                <td>{{ value.date }}</td>
                <td>{{ value.account_id.account_title }}</td>
                <td>user1</td>
                <td>
                  
                  {% if permission.edit == 1 %}  
                  <a class="edit_list" href="{% url 'edit-sale' pk=value.id %}" data-toggle=""><i class="material-icons">&#xE254;</i></a>
                  {% endif %}


                  <a href="#" style="color:black;"><i class="fas fa-coins"></i></a>
                  
                  {% if permission.r_print == 1 %}
                  <a data-toggle="modal" href="#"  class="has_id" id="{{value.id}}" data-target="#invoiceType"><i class="fa fa-print" id="print_icon" aria-hidden="true"></i></a>
                  {% endif %}

                  {% if permission.r_return == 1 %}
                  <a class="return" href="{% url 'new-sale-return' pk=value.id %}" data-toggle=""><i class="fas fa-undo"></i></a>
                  {% endif %}
                  
                  {% if permission.delete == 1 %}
                  <a class="delete" href="{% url 'delete-sale' pk=value.id %}"  data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </li>
</ul>
</div>


<!-- Invoices Modal -->
<div class="modal fade" id="invoiceType" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Invoice Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <a type="button" id="sales_tax_invoice" href="" class="btn btn-info">Sales Tax Invoice</a>
          </div>
          <div class="col-md-6 col-sm-12">
              <a type="button" id="commercial_invoice" href="" class="btn btn-info">Commercial Invoice</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
