{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>New Purchase Order Customer</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" id="new-po-customer-form" method="post" autocomplete="off">
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Purchase Order No</label>
          <input type="text" readonly class="form-control form-control-sm" required value="{{ get_last_po_no }}">
        </div>
        <div class="form-group col-md-2">
          <label>Customer Name</label>
          <input list="browsers" class="form-control form-control-sm" required id="po_customer">
            <datalist id="browsers">
             <option value="Internet Explorer">
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Attn</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_attn">
        </div>
        <div class="form-group col-md-2">
          <label for="">Prc Basis</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_prcbasis">
        </div>
        <div class="form-group col-md-2">
          <label for="">Lead Time</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_leadtime">
        </div>
        <div class="form-group col-md-2">
          <label for="">Validity</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_validity">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Payment</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_payment">
        </div>
        <div class="form-group col-md-2">
          <label>Remarks</label>
          <input list="browsers" class="form-control form-control-sm" required id="po_customer_remarks">
            <datalist id="browsers">
             <option value="Internet Explorer">
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Currency</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_currency">
        </div>
        <div class="form-group col-md-2">
          <label for="">Exchange Rate</label>
          <input type="text" class="form-control form-control-sm" required id="po_customer_exchange_rate">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm" required id="po_customer_follow_up">
        </div>
      </div>
    </li>
    <li class="list-group-item">
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="item_code_po">
          </div>
          <datalist id="item">
            {% for value in all_item_code %}
            <option value="{{value.product_code}}" />
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info add-new-po-customer"><i class="fa fa-plus"></i>Insert Item</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered" id="new-po-customer-table">
      <thead>
          <tr>
              <th width="70px">S No.</th>
              <th width="160px">Item Code</th>
              <th width="160px">Item Name</th>
              <th>Description</th>
              <th width="90px">Quantity</th>
              <th width="80px">Unit</th>
              <th width="130px">Unit/Price</th>
              <th width="150px">Remarks</th>
              <th>Action</th>
          </tr>
      </thead>
        <tbody>
        </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary">Submit <small>(Purchase Order)</small></button>
    </div>
  </li>
</form>
</ul>
</div>


{% endblock body %}
