{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>RFQ Customer</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <!-- <div class="form-row">
      <input type="text" name=""class="form-control col-md-2" value="">
    </div> -->
    <div class="input-group">
      <input type="text" class="form-control col-md-4" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="col-md-8">
        <a role="button" href="{% url 'new-rfq-customer' %}" style="float:right;" class="btn btn-outline-secondary" name="button"><i class="fas fa-plus"></i> Add New</a>
      </div>
    </div>
    <br>
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th width="80px">S NO.</th>
                <th >RFQ no</th>
                <th>Customer</th>
                <th >Date</th>
                <th>From</th>
                <th>Attn</th>
                <th>Follow up</th>
                <th>Notify me</th>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
          {% for row in all_rfq %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ row.rfq_no }}</td>
              <td>CU1</td>
              <td>{{ row.date }}</td>
              <td> user1 </td>
              <td>{{ row.attn }}</td>
              <td>{{ row.follow_up }}</td>
              <td>
                {% if row.show_notification == True %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
  			      <td><a class="edit_list" href="{% url 'edit-rfq-customer' pk=row.id %}"><i class="material-icons">&#xE254;</i></a><a class="delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </li>
</ul>
</div>


{% endblock body %}
