{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Purchase Order Supplier</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <form  action="" method="post">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Purchase Order No</label>
          <input type="text" readonly class="form-control form-control-sm" readonly value="{{ po_header.po_no }}">
        </div>
        <div class="form-group col-md-2">
          <label>Supplier Name</label>
          <input list="browsers" class="form-control form-control-sm" value="sp1">
            <datalist id="browsers">
             <option value="SP1">
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Attn</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.attn }}">
        </div>
        <div class="form-group col-md-2">
          <label for="">Prc Basis</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.prc_basis }}">
        </div>
        <div class="form-group col-md-2">
          <label for="">Lead Time</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.leadtime }}" >
        </div>
        <div class="form-group col-md-2">
          <label for="">Validity</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.validity }}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Payment</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.payment }}">
        </div>
        <div class="form-group col-md-2">
          <label>Remarks</label>
          <input list="browsers" class="form-control form-control-sm" value="{{ po_header.remarks }}" >
            <datalist id="browsers">
             <option value="Internet Explorer">
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Currency Rate</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.currency }}" >
        </div>
        <div class="form-group col-md-2">
          <label for="">Exchange Rate</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.exchange_rate }}">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm" value="{{ po_header.follow_up }}">
        </div>
      </div>
    </form>
    </li>
    <li class="list-group-item">
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter QO No here..." class="form-control form-control-sm">
          </div>
          <datalist id="item">
            <option value="RFQ/SP/101">RFQ/SP/101</option>
            <option value="RFQ/SP/102">RFQ/SP/102</option>
            <option value="RFQ/SP/103">RFQ/SP/103</option>
            <option value="RFQ/SP/104">RFQ/SP/104</option>
            <option value="RFQ/SP/105">RFQ/SP/105</option>
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Insert Another Item</button>
            </div>
        </div>
    </div>
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th width="70px">S No.</th>
                <th width="200px">Item Name</th>
                <th>Description</th>
                <th width="90px">Quantity</th>
                <th width="70px">Unit</th>
                <th width="130px">Unit/Price</th>
                <th width="150px">Remarks</th>
                <th width="150px">Quotation Ref.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          {% for value in po_detail %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ value.item_name }}</td>
            <td>{{ value.item_description }}</td>
            <td>{{ value.quantity }}</td>
            <td>{{ value.unit }}</td>
            <td>{{ value.unit_price }}</td>
            <td>{{ value.remarks }}</td>
            <td>{{ value.quotation_no }}</td>
            <td><a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary" name="">Update <small>(Quotation)</small></button>
    </div>
  </li>
</ul>
</div>


{% endblock body %}
