<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'supplier/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'supplier/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'supplier/css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'supplier/css/table.css' %}" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'home' %}">{{names.company_name}}</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="badge badge-danger">{{total_notification_supplier}}+</span>
          <i class="fas fa-industry"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          {% for value in supplier_row %}
          <a class="dropdown-item account_info_supplier" data-id="{{value.0}}" id="account" data-toggle="modal" data-target="#supplier_modal">
            {% if value.0|slice:":2" == 'DC' %}
              Follow Up for DC No: <b>{{ value.0 }}</b>
            {% elif value.0|slice:":2" == 'PO' %}
              Follow Up for PO No: <b>{{ value.0 }}</b>
            {% elif value.0|slice:":2" == 'QU' %}
              Follow Up for PO No: <b>{{ value.0 }}</b>
            {% elif value.0|slice:":2" == 'RF' %}
              Follow Up for PO No: <b>{{ value.0 }}</b>
            {% endif %}
          </a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="badge badge-danger">{{total_notification}}+</span>
          <i class="fas fa-users"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          {% for value in customer_row %}
          <a class="dropdown-item account_info" data-id="{{value.0}}" id="account" data-toggle="modal" data-target="#myModal">
            {% if value.0|slice:":2" == 'DC' %}
              Follow Up for DC No: <b>{{ value.0 }}</b>
            {% elif value.0|slice:":2" == 'PO' %}
              Follow Up for PO No: <b>{{ value.0 }}</b>
            {% elif value.0|slice:":2" == 'QU' %}
              Follow Up for PO No: <b>{{ value.0 }}</b>
            {% elif value.0|slice:":2" == 'RF' %}
              Follow Up for PO No: <b>{{ value.0 }}</b>
            {% endif %}
          </a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Create Company</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      {% if allow_inventory_roles %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-archive"></i>
          <span>Inventory</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for role in allow_inventory_roles %}

          {% if role.display == 1 and role.child_form == 41 %}
          <a class="dropdown-item" href="{% url 'item-stock' %}">Stock <small>(Item Wise)</small> </a>
          {% endif  %}

          {% if role.add == 1 and role.child_form == 41 %}
          <a class="dropdown-item" href="{% url 'add-product' %}">Add Item</a>
          {% endif %}

          {% endfor %}
        </div>
      </li>
      {% endif %}

      {% if allow_supplier_roles %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-industry"></i>
          <span>Supplier</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for role in allow_supplier_roles %}
          <!-- <h6 class="dropdown-header">Login Screens:</h6> -->

          {% if role.display == 1 and role.child_form == 21 %}
          <a class="dropdown-item" href="{% url 'rfq-supplier' %}">RFQ</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 22 %}
          <a class="dropdown-item" href="{% url 'quotation-supplier' %}">Quotation</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 23 %}
          <a class="dropdown-item" href="{% url 'purchase-order-supplier' %}">Purchase Order</a>
          {% endif %}
          <!-- <div class="dropdown-divider"></div> -->
          <!-- <h6 class="dropdown-header">Other Pages:</h6> -->
          {% if role.display == 1 and role.child_form == 24 %}
          <a class="dropdown-item" href="{% url 'delivery-challan-supplier' %}">Delivery Challan</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 25 %}
          <a class="dropdown-item" href="{% url 'mrn-supplier' %}">MRN</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>
      {% endif %}

  {% if allow_customer_roles.0.form_id == 1 %}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users"></i>
            <span>Customer</span>
          </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            {% for role in allow_customer_roles %}
              {% if role.display == 1 and role.child_form == 11 %}
                <a class="dropdown-item" href="{% url 'rfq-customer' %}">RFQ</a>
              {% endif %}
              {% if role.display == 1 and role.child_form == 12 %}
                <a class="dropdown-item" href="{% url 'quotation-customer' %}">Quotation</a>
              {% endif %}
              {% if  role.display == 1 and role.child_form == 13 %}
                <a class="dropdown-item" href="{% url 'purchase-order-customer' %}">Purchase Order</a>
              {% endif %}
              {% if role.display == 1 and role.child_form == 14 %}
                <a class="dropdown-item" href="{% url 'delivery-challan-customer' %}">Delivery Challan</a>
              {% endif %}
              {% if role.display == 1 and role.child_form == 15 %}
                <a class="dropdown-item" href="{% url 'mrn-customer' %}">MRN</a>
              {% endif %}
            {% endfor %}
            </div>
      </li>
  {% endif %}

      {% if allow_transaction_roles %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-money" aria-hidden="true"></i>
          <span>Transaction</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          {% for role in allow_transaction_roles %}
          {% if role.display == 1 and role.child_form == 31 %}
          <a class="dropdown-item" href="{% url 'chart-of-account' %}">Chart Of Account</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 32 %}
          <a class="dropdown-item" href="{% url 'purchase' %}">Purchase</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 33 %}
          <a class="dropdown-item" href="{% url 'purchase-return-summary' %}">Purchase Return</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 34 %}
          <a class="dropdown-item" href="{% url 'sale' %}">Sale</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 35 %}
          <a class="dropdown-item" href="{% url 'sale-return-summary' %}">Sale Return</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 36 %}
          <h5 class="dropdown-header">Vouchers :</h5>
          <a class="dropdown-item" href="{% url 'journal-voucher-summary' %}">Journal Voucher</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 37 or role.display == 1 and role.child_form == 38 %}
          <h6 class="dropdown-header">Receiving :</h6>
          {% endif %}

          {% if role.display == 1 and role.child_form == 37 %}
          <a class="dropdown-item" href="{% url 'bank-receiving-voucher' %}">Bank Receiving Voucher</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 38 %}
          <a class="dropdown-item" href="{% url 'cash-receiving-voucher' %}">Cash Receiving Voucher</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 39 or role.display == 1 and role.child_form == 310 %}
          <h6 class="dropdown-header">Payment :</h6>
          {% endif %}
          {% if role.display == 1 and role.child_form == 39 %}
          <a class="dropdown-item" href="{% url 'bank-payment-voucher' %}">Bank Payment Voucher</a>
          {% endif %}

          {% if role.display == 1 and role.child_form == 310 %}
          <a class="dropdown-item" href="{% url 'cash-payment-voucher' %}">Cash Payment Voucher</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>
      {% endif %}

      {% if allow_report_roles%}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'report' %}" role="button"  aria-haspopup="true" aria-expanded="false">
          <i class="far fa-chart-bar"></i>
          <span>Reports</span>
        </a>
      </li>
      {% endif %}
      {% if is_superuser %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cog"></i>
          <span>Setup</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="{% url 'user-list' %}">User's Account</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'multi-companies' %}" role="button"  aria-haspopup="true" aria-expanded="false">
          <i class="far fa-building"></i>
          <span>Companies</span>
        </a>
      </li>
      {% endif %}
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        {% block body %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Powered By <a href="https://techfurq.com/" target="_blank">TechFurq</a></span>
              </div>
            </div>
        </footer>


        {% endblock body %}

      </div>
      <!-- /.container-fluid -->


    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form class="" action="{% url 'update-notification-customer' %}" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h4 class="modal-title"> <span id="account_title"></span> </h4>
          </div>
          <div class="modal-body">
            <p>Follow Up for <b><span id="tran_no" ></span></b></p>
            <div class="col-md-12">
              <label for="">Postpone</label>
              <input type="date" name="postpone_customer" class="form-control form-control-sm" value="">
              <input type="hidden" name="tran_no" id="tran_no_input" class="form-control form-control-sm" value="">
            </div>
            <br>
            <div class="col-md-12">
              <label for="">Turn Off</label>
              <input type="checkbox" name="turn_off" value="0">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade" id="supplier_modal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form class="" action="{% url 'update-notification-supplier' %}" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h4 class="modal-title"> <span id="account_title_supplier"></span> </h4>
        </div>
        <div class="modal-body">
          <p>Follow Up for <b><span id="tran_no_supplier" ></span></b></p>
          <div class="col-md-12">
            <label for="">Postpone</label>
            <input type="date" name="postpone_supplier" class="form-control form-control-sm" value="">
            <input type="hidden" name="tran_no" id="tran_no_input_supplier" class="form-control form-control-sm" value="">
          </div>
          <br>
          <div class="col-md-12">
            <label for="">Turn Off</label>
            <input type="checkbox" name="turn_off" value="0">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <!-- Bootstrap core JavaScript-->
  <script src=" {% static 'supplier/vendor/jquery/jquery.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
  <script src="{% static 'supplier/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'supplier/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'supplier/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'supplier/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <!-- <script src="{% static 'supplier/vendor/chart.js/Chart.min.js' %}"></script> -->

  <!-- Custom scripts for all pages-->
  <script src="{% static 'supplier/js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <!-- <script src="{% static 'supplier/js/demo/datatables-demo.js' %} "></script> -->
  <script src="{% static 'supplier/script.js' %} "></script>
  <script src="{% static 'supplier/script_customer.js' %} "></script>
  <script src="{% static 'supplier/transaction.js' %} "></script>

  <!-- <script src="{% static 'supplier/js/demo/chart-area-demo.js' %}"></script> -->
  <script type="text/javascript">
  function cheque_enable(status) {
    status=!status;
    document.getElementById('cheque_no').disabled = status;
    document.getElementById('cheque_date').disabled = status;
    document.getElementById('realize').disabled = status;
    document.getElementById('un-realize').disabled = status;
  }
  </script>
</body>

</html>
