{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Purchase Order Supplier</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" method="post" id="edit-supplier-po-submit">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Purchase Order No</label>
          <input type="text" readonly class="form-control form-control-sm" readonly value="{{ po_header.po_no }}">
        </div>
        <div class="form-group col-md-2">
          <label>Supplier Name</label>
          <input list="accounts" class="form-control form-control-sm" value="{{ po_header.account_id.account_title }}"  id="edit_po_supplier">
            <datalist id="accounts">
              {% for value in all_accounts %}
              <option value="{{value.account_title}}">{{value.account_title}}</option>
              {% endfor %}
             </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Attn</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.attn }}" id="edit_po_attn">
        </div>
        <div class="form-group col-md-2">
          <label for="">Prc Basis</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.prc_basis }}" id="edit_po_prcbasis">
        </div>
        <div class="form-group col-md-2">
          <label for="">Lead Time</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.leadtime }}" id="edit_po_leadtime">
        </div>
        <div class="form-group col-md-2">
          <label for="">Validity</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.validity }}" id="edit_po_validity">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Payment</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.payment }}" id="edit_po_payment">
        </div>
        <div class="form-group col-md-2">
          <label>Remarks</label>
          <input list="browsers" class="form-control form-control-sm" value="{{ po_header.remarks }}" id="edit_po_remarks">
            <datalist id="browsers">
             <option value="Internet Explorer">
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Currency Rate</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.currency }}" id="edit_po_currency_rate">
        </div>
        <div class="form-group col-md-2">
          <label for="">Exchange Rate</label>
          <input type="text" class="form-control form-control-sm" value="{{ po_header.exchange_rate }}" id="edit_po_exchange_rate">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm" value="{{ po_header.follow_up|date:"Y-m-d"}}" id="edit_po_follow_up">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">Footer Remarks</label>
          <textarea name="name" style="height:30px; width:370px;" id="edit_footer_remarks">{{po_header.footer_remarks}}</textarea>
        </div>
      </div>
    </li>
    <li class="list-group-item">
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="edit_item_code">
          </div>
          <datalist id="item">
            {% for value in all_item_code %}
            <option value="{{value.product_code}}" />
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info has_id edit-po-supplier" id="{{pk}}"><i class="fa fa-plus"></i>Insert Another Item</button>
            </div>
        </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="edit-po-supplier-table">
          <thead>
              <tr>
                  <th width="70px">S No.</th>
                  <th width="140px">Item Code</th>
                  <th width="140px">Item Name</th>
                  <th>Description</th>
                  <th width="90px">Quantity</th>
                  <th width="120px">Unit</th>
                  <th width="120px">Unit/Price</th>
                  <th width="150px">Remarks</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in po_detail %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td style="display:none;">{{ value.item_id.id }}</td>
              <td>{{ value.item_id.product_code }}</td>
              <td>{{ value.item_id.product_name }}</td>
              <td>{{ value.item_id.product_desc }}</td>
              <td>{{ value.quantity }}</td>
              <td>{{ value.unit }}</td>
              <td>{{ value.unit_price }}</td>
              <td>{{ value.remarks }}</td>
              <td><a class="add-po-edit" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit-po-edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete-po-edit" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}">Update <small>(Quotation)</small></button>
    </div>
  </li>
</form>
</ul>
</div>


{% endblock body %}
