{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit RFQ Supplier</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" method="post" id="edit-rfq-supplier-form">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="">RFQ No</label>
          <input type="text" class="form-control form-control-sm" value="{{rfq_header.rfq_no}}" id="edit_rfq_supplier" readonly>
        </div>
        <div class="form-group col-md-2">
          <label>Supplier Name</label>
          <input list="browsers" class="form-control form-control-sm" value="{{rfq_header.account_id.account_title}}" id="edit_rfq_supplier_name">
            <datalist id="browsers">
              {% for value in all_accounts %}
              <option value="{{value.account_title}}">{{value.account_title}}</option>
              {% endfor %}
          </datalist>
        </div>
        <div class="form-group col-md-2">
          <label for="">Attn</label>
          <input type="text" class="form-control form-control-sm" value="{{rfq_header.attn}}" id="edit_rfq_attn">
        </div>
        <div class="form-group col-md-2">
          <label for="">Follow Up</label>
          <input type="date" class="form-control form-control-sm" value="{{rfq_header.follow_up|date:"Y-m-d"}}" id="edit_rfq_follow_up">
        </div>
        <div class="form-group col-md-2">
          <label for="">Footer Remarks</label>
          <textarea name="name" style="height:30px;" id="edit_footer_remarks">{{rfq_header.footer_remarks}}</textarea>
        </div>
      </div>

      <div class="table-title">
          <div class="row">
            <div class="form-group col-md-3">
              <input type="text" list="item" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="edit_item_code">
            </div>
            <datalist id="item">
              {% for value in all_item_code %}
              <option value="{{value.product_code}}" />
              {% endfor %}
            </datalist>
              <div style="margin-left:20px;">
                  <button type="button" class="btn btn-info edit-rfq-supplier has_id" id="{{pk}}"><i class="fa fa-plus"></i>Insert Item</button>
              </div>
          </div>
      </div>
      <div class="table table-responsive">
        <table class="table table-bordered" id="edit-rfq-supplier-table">
            <thead>
                <tr>
                    <th width="70px">S NO.</th>
                    <th width="100px">Item Code</th>
                    <th width="100px">Item Name</th>
                    <th width="390px">Item Description</th>
                    <th width="150px">Unit</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              {% for value in rfq_detail  %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ value.item_code }}</td>
                <td>{{ value.item_name }}</td>
                <td>{{ value.item_description }}</td>
                <td>{{ value.unit }}</td>
                <td>{{ value.quantity }}</td>
                <td><a class="add-rfq-edit" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="edit-rfq-edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a><a class="delete-rfq-edit" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}" name="">Update <small>(RFQ)</small></button>
    </div>
  </li>
</form>
</ul>
</div>


{% endblock body %}
