{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>MRN Supplier</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="input-group">
      <input type="text" class="form-control col-md-3" id="search" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <br>
    <div class="table table-responsive content-loader">
      <table class="table table-bordered" id="dataTable">
          <thead>
              <tr>
                  <th width="70px" >S NO.</th>
                  <th width="140px">DC no</th>
                  <th width="70px">Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in all_dc reversed %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ value.dc_no }}</td>
                <td><a class="edit_list" href="{% url 'edit-mrn-supplier' pk=value.id %}" data-toggle=""><i class="material-icons">&#xE254;</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </li>
</ul>
</div>


{% endblock body %}
