{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
        .img{
          width: 200px;
          height: 150px;
        }

        </style>
    </head>
    <body>
      <div class="img" >
        <img src="{{image.company_logo}}" style="" align="right"/>
      </div>
      <div style="margin-bottom:0px;">
        {% for value in company_info %}
        <font size="30px" style="margin-top:-100px;" ><b>{{value.company_name}}</b></font></br>
        <font size="11px" >33 Amina Mansion, Belasis Street,</font><br>
        <font size="11px" >New Chali Karachi Pakistan</font><br>
        <font size="11px">{{ value.phone_no }}</font></br>
        <font size="11px">{{ value.mobile_no }}</font></br>
        <font size="11px">{{ value.email }}</font></br>
        <font size="11px">{{ value.website }}</font>
        {% endfor %}
      </div>
      <div>
      </div>
    </body>
</html>
