{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Item</h4>
</div>
<ul class="list-group list-group-flush">
<form id="edit-item-form" action="" method="post">
  <li class="list-group-item">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-1">
          <label for="">Type</label>
          <input type="text" class="form-control form-control-sm" required value="{{all_detail.type}}" id="type">
        </div>
        <div class="form-group col-md-1">
          <label for="">Size</label>
          <input type="text" class="form-control form-control-sm" value="{{all_detail.size}}" required id="size">
        </div>
        <div class="form-group col-md-2">
          <label for="">Item Name</label>
          <input type="text" class="form-control form-control-sm" value="{{all_detail.product_name}}" required id="product_name">
        </div>
        <div class="form-group col-md-3">
          <label for="">Item Description</label>
          <textarea name="name" rows="" cols="25" id="product_desc" style="height:30px; width:275px;">{{all_detail.product_desc}}</textarea>
        </div>
        <div class="form-group col-md-2">
          <label for="">Unit</label>
          <select class="form-control form-control-sm" id="select_unit" value="{{all_detail.unit}}">
            <option value="">{{all_detail.unit}}</option>
            <option value="">Select:</option>
            <option value="">pcs</option>
            <option value="">nos.</option>
            <option value="">meter</option>
            <option value="">fit</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="">Opening Stock</label>
          <input type="text" class="form-control form-control-sm" id="opening_stock" value="{{all_detail.opening_stock}}">
        </div>
      </div>
      <br>
      <div class="text-center">
        <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}">Submit <small>(Items)</small></button>
      </div>
</li>
<!-- <li class="list-group-item">
  <div class="table table-responsive">
    <table class="table table-bordered" id="add-item-table">
          <thead>
              <tr>
                  <th width="120px">S No.</th>
                  <th width="130px">Type</th>
                  <th width="130px">Size</th>
                  <th width="200px">Item Name</th>
                  <th width="250px">Item Description</th>
                  <th width="100px">Unit</th>
                  <th width="100px">Opening Stock</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>
  </li> -->

  </form>
</ul>
</div>


{% endblock body %}
