{% extends "supplier/base.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Item Stock</h4>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <br>
    <div class="table table-responsive">
    <table class="table table-bordered sort" id="dataTable">
        <thead>
            <tr>
                <th width="60px">S NO.</th>
                <th width="80px">Size</th>
                <th >Item Code</th>
                <th>Item Name</th>
                <th width="160px">Item Description</th>
                <th width="160px">Inventory Stock</th>
                <th width="160px">Unit</th>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
          {% for value in row %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ value.0 }}</td>
              <td>{{ value.0 }}</td>
              <td>{{ value.1 }}</td>
              <td>{{ value.2 }}</td>
              <td>{{ value.4 }}</td>
              <td>{{ value.3 }}</td>
  			      <td><a class="cart" href=""><i class="fas fa-shopping-cart"></i></a><a class="delete_item_row" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  </li>
</ul>
</div>


{% endblock body %}
