{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'supplier/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template-->
    <link href="{% static 'supplier/css/sb-admin.css' %}" rel="stylesheet" />
  </head>

  <body class="bg-dark">
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Password Reset</div>
        <div class="card-body">
          <div class="alert alert-info">
            An Email has been sent with instructions to reset your password.
          </div>
          <div class="text-center">
            <a class="d-block small mt-3" href="/supplier/">Go to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'supplier/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'supplier/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'supplier/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  </body>
</html>
