body {
    color: #404E67;
    background: #F5F7FA;
font-family: 'Open Sans', sans-serif;
}
.table-wrapper {
width: 700px;
margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new i {
margin-right: 4px;
}

.table-title .add-new-row {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-row i {
margin-right: 4px;
}


.table-title .add-new-quotation-customer {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-quotation-customer i {
margin-right: 4px;
}

.table-title .add-new-po-customer {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-po-customer i {
margin-right: 4px;
}


.table-title .add-new-quotation-supplier{
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-quotation-supplier i {
margin-right: 4px;
}

.table-title .add-new-po-supplier{
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-po-supplier i {
margin-right: 4px;
}

.table-title .add-new-dc-supplier{
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-dc-supplier i {
margin-right: 4px;
}


.table-title .add-new-dc-customer{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-new-dc-customer i {
margin-right: 4px;
}

.table-title .add-item-purchase{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-purchase i {
margin-right: 4px;
}


table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.edit_list {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
border-color: #f50000;
}
table.table td .add {
display: none;
}

table.table thead tr th {
  white-space: nowrap; overflow: hidden;
  font-size: 14px;
}

table.table tbody tr td {
  white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
  font-size: 12px;
}

table.table thead tr th{
  font-size:12px;
}

#text {
  width: 400px;
  height: 30px;
}

/* #tax_table{
  margin-left: 60%;
} */

#t_table tr th {
  font-size:12px;
}

#t_table, th, td{
  border: 1px solid;
}


#t_table tr td textarea{
  width: 400px;
  height: 50px;
}
